<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinelearning.dao.DisciplineMapper">
  <resultMap id="BaseResultMap" type="com.example.onlinelearning.domain.Discipline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_discipline_id" jdbcType="BIGINT" property="parentDisciplineId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_operator_id" jdbcType="BIGINT" property="updateOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from discipline
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.onlinelearning.domain.Discipline">
    insert into discipline (id, name, description, 
      parent_discipline_id, level, creator_id, 
      creation_time, update_operator_id, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parentDisciplineId,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}, #{creatorId,jdbcType=BIGINT}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateOperatorId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.onlinelearning.domain.Discipline">
    update discipline
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      parent_discipline_id = #{parentDisciplineId,jdbcType=BIGINT},
      level = #{level,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=BIGINT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_operator_id = #{updateOperatorId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, description, parent_discipline_id, level, creator_id, creation_time, 
    update_operator_id, update_time
    from discipline
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, parent_discipline_id, level, creator_id, creation_time, 
    update_operator_id, update_time
    from discipline
  </select>
</mapper>