<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlineLearning.dao.KnowledgePointMapper">
  <resultMap id="BaseResultMap" type="com.example.onlineLearning.domain.KnowledgePoint">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="discipline_id" jdbcType="BIGINT" property="disciplineId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description_url" jdbcType="VARCHAR" property="descriptionUrl" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_operator_id" jdbcType="BIGINT" property="updateOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from knowledge_point
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.onlineLearning.domain.KnowledgePoint">
    insert into knowledge_point (id, discipline_id, name, 
      description_url, creator_id,  update_operator_id)
    values (#{id,jdbcType=BIGINT}, #{disciplineId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{descriptionUrl,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT},  #{creatorId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.onlineLearning.domain.KnowledgePoint">
    update knowledge_point
    set discipline_id = #{disciplineId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      description_url = #{descriptionUrl,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_operator_id = #{updateOperatorId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, discipline_id, name, description_url, creator_id, creation_time, update_operator_id, 
    update_time
    from knowledge_point
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, discipline_id, name, description_url, creator_id, creation_time, update_operator_id, 
    update_time
    from knowledge_point
  </select>
</mapper>