<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <!--  `id`                       BIGINT AUTO_INCREMENT COMMENT 'Auto increment primary key.',
        `question_body_url`        VARCHAR(200) CHARSET utf8mb4 COLLATE  utf8mb4_bin NOT NULL COMMENT 'URL of the question body.',
        `answer_body_url`          VARCHAR(200) CHARSET utf8mb4 COLLATE  utf8mb4_bin NOT NULL COMMENT 'URL of the answer body of the question.',
        `discipline_id`            BIGINT                                         NOT NULL COMMENT 'ID of the discipline that the question belongs to.',
        `source_type_id`           INT                                            NOT NULL COMMENT 'Source type of the question, 0-reprint, 1-original',
        `difficulty_type_id`       BIGINT                                         NOT NULL COMMENT 'ID of the difficulty of the question',
        `question_type_id`         BIGINT                                         NOT NULL COMMENT 'ID of the question type.',
        `estimated_time_to_finish` INT                                            NOT NULL COMMENT 'Estimated time to finish the question, unit: seconds.',
        `creator_id`               BIGINT                                         NOT NULL COMMENT 'ID of the creator.',
        `creation_time`            DATETIME                                       NOT NULL DEFAULT NOW() COMMENT 'Creation time of the discipline.',
        `update_operator_id`       BIGINT                                         NOT NULL COMMENT 'ID of the account of last update.',
        `update_time`              DATETIME                                       NOT NULL DEFAULT NOW() ON UPDATE NOW() COMMENT 'Time of last update.',*/
-->
      <!--  private long id ;
        private String questionBodyUrl;
        private String answerBodyUrl;
        private long disciplineId;
        private long sourceTypeId;
        private long difficultyTypeId;
        private long questionTypeId;
        private int estimatedTimeToFinish;
        private long creatorId;
        private long updateOperatorId;
        -->
<mapper namespace="com.example.onlinelearning.dao.QuestionBaseInfoMapper">
    <insert id="insert">
    INSERT INTO questions
    (id,question_body_url,answer_body_url,discipline_id,source_type_id,difficulty_type_id,question_type_id,estimated_time_to_finish,creator_id,update_operator_id)
    VALUES
    (
    #{id},
    #{questionBodyUrl},
    #{answerBodyUrl},
    #{disciplineId},
    #{sourceTypeId},
    #{difficultyTypeId}
    #{questionTypeId}
    #{estimatedTimeToFinish}
    #{creatorId}
    #{updateOperatorId}
    )
    </insert>
</mapper>
